// Colors
$c-app-bg: #fac09c;
$c-white: #ffffff;
$c-checkbox-border: #cccfe8;
$c-checkbox-bg: #53c68c;
$c-delete-button: #999ec4;
$c-task-completed: #babdd6;
$c-error: #de6057;
$c-add-bg: #4355db;
$c-font-base: #5d70ea;
$c-input-bg: #eeeeee;

// Font size
$f-size-base: 16px;

// Box size
$size-xs: 5px;
$size-s: 10px;
$size-m: 15px;
$size-l: 30px;
$size-xl: 50px;

$size-app-width: 450px;
$size-checkbox: $size-l;
$size-add-width: 32px;
